<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>STX BookStore</h1>
        <p><a href="urls " >Api specification</p>
        <p>BookListView</p>
        <p>BookListView with filters:
            <ul>
                <li>title</li>
                <li>author</li>
                <li>publication year range [from ... to ...]</li>
                <li>acquired: TRUE / FALSE</li>
            </ul>
        </p>
        <p>BookDetailedView</p>
        <p>BookCreateView</p>
        <p>BookUpdateView</p>
        <p>BookDeleteView</p>
        <p>Book Import from Google API</p>

</body>
</html>